@charset "UTF-8";

p { 
    text-align: justify; 
    text-indent: 50px; 
    font-size: 20pt;
  }
  table {
    border: 0px;
    width: 65%;
    font-size: 20pt;        
  }
  td {
    text-align: left;
    width: 75%;
  }
  h1 {
    text-align: center;
  }
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
  ul {
    font-size: 20pt;
  }