@charset "UTF-8";

body {
  background-color:#888888;
  margin-left: 50px;
  margin-right: 50px;
}

div#interface {
  width: 1300px;
  background-color: #ddd3b1;
  margin: 20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
  padding: 50px;
}

p { 
  text-align: justify; 
  text-indent: 50px; 
  font-size: 20pt;
}
  
table {
  border: 0px;
  width: 65%;
  font-size: 20pt;
  text-indent: 50px;
}
  
td {
  text-align:center;
  width: 75%;
}
  
h1 {
  text-align: center;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}
  
ul {
  font-size: 20pt;
}

nav#menu li {
  display:block;
  background-color: #ddd3b1;
  color: black;
  padding: 10px;
  margin: 4px;
  transition: background-color 1s;
}

nav#menu li:hover {
  color: darkblue;
  background-color: #888888;
}

nav#menu a {
  color:black;
  text-decoration: none;
}

nav#menu a:hover {
  color: darkblue;
}